@inject AuthService service;
@inject NavigationManager navigation;
@rendermode InteractiveServer
@page "/adminlogin";
<h3>AdminLogin</h3>

<form >
	<label>Email</label>
	<input type="email" @bind="model.Email"/>
	<label>Password</label>
	<input type="password" @bind="model.Password"/>

	<button type="button"  @onclick="Login">Belépés</button>
</form>
@code {
	private LoginModel model = new();


	public async Task Login()
	{
		try
		{
			var token = await service.adminlogin(model);
			if (!string.IsNullOrEmpty(token))
			{
				TokenStore.token = token;
				await Task.Delay(50);

				navigation.NavigateTo("/adminsite");
			}
		}
		catch (Exception e)
		{
			Console.WriteLine(e.Message);
		}

	}
}
