@page "/adminsite";
@inject NavigationManager navigation;
@rendermode InteractiveServer
<h3>Adminsite</h3>

<button @onclick="Logout">Kijelentkezés</button>
@code {
	public async Task Logout()
	{
		TokenStore.token = null;
		Console.WriteLine(TokenStore.token);
		navigation.NavigateTo("/adminlogin");
	}
}
