@inject AuthService service;
@inject NavigationManager navigation;
@rendermode InteractiveServer
@page "/adminlogin";
<h3>AdminLogin</h3>

<EditForm model="@model" OnValidSubmit="Login">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<label>Email</label>
	<InputText  @bind-Value="model.Email"/>
	<label>Password</label>
	<InputText  @bind-Value="model.Password"/>
	

	<button type="submit">Belépés</button>
</EditForm>
@code {
	private LoginModel model = new();


	public async Task Login()
	{
		try
		{
			var token = await service.adminlogin(model);
			if (!string.IsNullOrEmpty(token))
			{
				TokenStore.token = token;
				await Task.Delay(50);

				navigation.NavigateTo("/adminsite");
			}
		}
		catch (Exception e)
		{
			Console.WriteLine(e.Message);
		}

	}
}
